//
//  Secrets.xcconfig
//  StarterApp
//
//  Created by Mina Yousry on 04/01/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PUBLIC_API_KEY = 64ddced364720c7e12e52a35ab0cbc7f
PRIVATE_API_KEY = c9e4bf5f98eac9da38653e9dfe3e9a251b471dbd
